{"_id":"5c325d2cb2944e0434dd819b","G": 100,"GH": 0,"GH2O": 0,"GHO2": 0,"GO": 0,"H": 0,"K": 50,"KH": 0,"KH2O": 0,"ZH2O": 0,"ZHO2": 0,"ZK": 200,"ZO": 25,"energy":220, "power":100, "energyCapacity":2000,"hits":250000,"hitsMax":250000,"nextDecayTime":1579804,"notifyWhenAttacked":true,"room":"W8N3","type":"container","x":35,"y":17}
